$font-family: sans-serif;

$bg: gray;
$default-bg: #000;
$defult-color: #fff;
$accent: #f00;

$accent-hover: rgba($accent, .75);

$btn-bg: rgba($defult-color, .2);
$btn-bg-hover: rgba($defult-color, .4);

$act-bg: rgba($defult-color, .3);
$act-bg-hover: rgba($defult-color, .5);

$width: 250px;
$margin: 10px;
$btn-margin: 2px;
